/** 公共css **/
body {
    background-color: #1a2a3a !important;
    color: #dddddd !important;
}
a {
    color: #dddddd !important;
}
span {
    color: #dddddd !important;
}
/** main **/
.storey-title .no-link {
    color: #dddddd !important;
}
.storey-title .text-info a {
    color: #aaaaaa !important;
}
.bypb-window .online {
    background: #2a3a4a !important;
}
.live-tabs .tab-switch .tab-switch-item {
    color: #aaaaaa !important;
}
.storey-title .text-info {
    color: #aaaaaa !important;
}
.page-tab .con li {
    border: 1px solid #1a2a3a !important;
}
.bili-header-m .nav-search #nav_searchform, .international-header .nav-search #nav_searchform {
    color: #dddddd !important;
    background-color: #1a2a3a !important;
}
.bili-header-m .nav-search .nav-search-btn, .international-header .nav-search .nav-search-btn {
    background: #1a2a3a !important;
    border: 1px solid #3a4a5a !important;
}
.live-card .up .txt .desc {
    color: #aaaaaa !important;
}
ul#bilibili-search-history {
    background: #1a2a3a !important;
    border: 1px solid #1a2a3a !important;
}
.bili-header-m .nav-search .nav-search-keyword, .international-header .nav-search .nav-search-keyword {
    color: #fff !important;
}
.bili-header-m .nav-search .nav-search-submit, .international-header .nav-search .nav-search-submit {
    color: #dddddd !important;
}
.bilibili-search-history .history-item a {
    color: #aaaaaa !important;
}
.elevator .list-box {
    background: #3a4a5a !important;
    border: 1px solid #4a5a6a !important;
}
.elevator .list-box .item {
    background: #3a4a5a !important;
    color: #aaaaaa !important;
}
.contact-help {
    background: #2a3a4a !important;
    border: 1px solid #1a2a3a !important;
    box-shadow: 0 6px 10px 0 #4a5a6a !important;
    color: #aaaaaa !important;
}
.bilibili-search-history .history-item a:hover {
    color: #fff !important;
    background: #2a3a4a !important;
}
.bilibili-search-suggest {
    color: #fff !important;
    border: 1px solid #3a4a5a !important;
    background: #2a3a4a !important;
}
.bilibili-search-suggest .suggest-item:hover, .bilibili-search-suggest .suggest-item.focus {
    background: #4a5a6a !important;
}
.bilibili-search-history .history-item.focus, .bilibili-search-history .history-item:hover {
    background: #2a3a4a !important;
}
.contact-help:hover {
    background: #3a4a5a !important;
    color: #fff !important;
}
.rcmd-box-wrap .change-btn {
    color: #aaaaaa !important;
}
.rcmd-box-wrap .change-btn:hover {
    background-color: #3a4a5a !important;
}
.exchange-btn .btn:hover {
    background-color: #3a4a5a !important;
}
.exchange-btn .btn {
    color: #aaaaaa !important;
}
.rank-header .more {
    color: #aaaaaa !important;
}
.rank-header .more:hover {
    background-color: #3a4a5a !important;
}
.rank-header .name {
    color: #dddddd !important;
}
.international-footer {
    background-color: #1a2a3a !important;
    color: #eeeeee !important;
}
.international-footer * {
    color: #dddddd !important;
}
.time-line .tl-link {
    background-color: #2a3a4a !important;
}
.special-recommend header {
    color: #dddddd !important;
}
.ifmt h3 {
    color: #dddddd !important;
}
.international-footer .link-box .link-item ul a {
    color: #aaaaaa !important;
}
.international-footer .link-box .link-item.link-c p {
    color: auto !important;
}
.manga-panel .app-download-link {
    color: #aaaaaa !important;
}
.international-footer .link-box .link-item.link-c p {
    color: #aaaaaa !important;
}
.elevator .list-box .item.on, .elevator .list-box .item:hover {
    background-color: #00a1d6 !important;
    color: #fff !important;
}
.manga-panel .manga-list-box .manga-card .manga-title {
    color: #aaaaaa !important;
}
.van-popover {
    background: #2a3a4a !important;
    border: 1px solid #4a5a6a !important;
}
.van-popper-avatar * {
    color: #dddddd !important;
}
.vip-m * {
    color: #aaaaaa !important;
}
.im-list-box {
    background: #3a4a5a !important;
    color: #aaaaaa;
}
.out-container {
    background-color: #3a4a5a !important;
}
.van-popper-favorite * {
    color: #dddddd !important;
    background-color: #3a4a5a !important;
}
.header-video-card * {
    color: #dddddd !important;
}
.header-video-card:hover {
    background-color: #4a5a6a !important;
}
.i-frame * {
    background: #2a3a4a !important;
    color: #dddddd !important;
}
.international {
    color: #aaaaaa !important;
    background-color: #1a2a3a !important;
}
span.tit {
    color: #dddddd !important;
}
.bui-collapse .bui-collapse-header {
    background: #2a3a4a !important;
    color: #dddddd !important;
}
.danmaku-wrap .player-auxiliary-area .player-auxiliary-danmaku-management {
    background: #3a4a5a !important;
    color: #aaaaaa !important;
}
.bilibili-player-video-sendbar {
    background: #2a3a4a !important;
}
.bilibili-player-video-info {
    color: #aaaaaa !important;
}
.video-desc * {
    color: #dddddd !important;
}
.s_tag .tag-area>li {
    background: #4a5a6a !important;
    border: 1px solid #5a6a7a !important;
}
.s_tag .tag-area>li:hover {
    border-color: #00a1d6 !important;
}
.bilibili-player-video-sendbar .bilibili-player-video-inputbar {
    background: #3a4a5a !important;
    color: #aaaaaa !important;
}
.player-auxiliary-area * {
    background: #2a3a4a !important;
    color: #aaaaaa !important;
}
.bui-collapse * {
    color: #dddddd !important;
}
.activity-m * {
    color: #dddddd !important;
}
.bb-comment, .comment-bilibili-fold {
    background: #1a2a3a !important;
}
.comment-m * {
    color: #dddddd !important;
}
.bb-comment .comment-send .textarea-container .ipt-txt, .comment-bilibili-fold .comment-send .textarea-container .ipt-txt, .bb-comment .comment-send-lite .textarea-container .ipt-txt, .comment-bilibili-fold .comment-send-lite .textarea-container .ipt-txt {
    background: #2a3a4a !important;
    color: #dddddd !important;
    border-bottom: 1px solid #4a5a6a !important;
    border: 1px solid #4a5a6a !important;
}
.bb-comment .comment-list .list-item .con, .comment-bilibili-fold .comment-list .list-item .con {
    border-top: 0 !important;
}
.emoji-box {
    background: #3a4a5a !important;
    border: 1px solid #4a5a6a !important;
}
.recommend-list * {
    color: #dddddd !important;
}
.video-toolbar .ops>span {
    color: #dddddd !important;
}
.video-toolbar .appeal-text {
    color: #dddddd !important;
}

.bb-comment .comment-send.comment-send-lite, .comment-bilibili-fold .comment-send.comment-send-lite, .bb-comment .comment-send-lite.comment-send-lite, .comment-bilibili-fold .comment-send-lite.comment-send-lite {
    background: #1a2a3a !important;
}
.bb-comment .comment-list .list-item .info .reply-tags span, .comment-bilibili-fold .comment-list .list-item .info .reply-tags span {
    background: #3a4a5a !important;
    color: #dddddd !important;
}
.resizable-component {
    background: #2a3a4a !important;
}
.resizable-component .editor-innter {
    background: #2a3a4a !important;
    color: #dddddd !important;
}
.ql-toolbar {
    background: #2a3a4a !important;
}
.ql-snow.ql-toolbar button * {
    color: #dddddd !important;
}
.resizable-component .note-drag-bar {
    background: #1a2a3a !important;
}
.resizable-component .close-btn {
    background: #3a4a5a !important;
    color: #dddddd !important;
}
.ql-snow .ql-picker {
    color: #aaaaaa !important;
}
.ql-snow .ql-picker-options {
    background-color: #3a4a5a !important;
}
.ql-size .ql-picker-item {
    color: #aaaaaa !important;
}
.international-header .mini-type, .van-popover .mini-type {
    background: #0a1a2a !important;
    color: #dddddd !important;
    box-shadow: 0 2px 4px 0 #eeeeee00 !important;
    background-color: #0a1a2a !important;
}
.video-toolbar {
    border-bottom: 1px solid #4a5a6a !important;
}
.activity-m .inside-wrp {
    border-bottom: 1px solid #4a5a6a !important;
    border: 1px solid #4a5a6a !important;
}
.v-wrap .s_tag {
    border-bottom: 1px solid #4a5a6a !important;
}
.bb-comment .comment-header, .comment-bilibili-fold .comment-header {
    border-bottom: 1px solid #4a5a6a !important;
}
.activity-m .inside-wrp {
    border-bottom: 1px solid #4a5a6a !important;
}
.international-header .mini-type .nav-search #nav_searchform, .van-popover .mini-type .nav-search #nav_searchform {
    border:1px solid #4a5a6a !important ;
}
.mini-type .nav-user-center .user-con .item .name {
    color: #dddddd !important;
    box-shadow: #1a2a3a !important;
}
.bilibili-player-video-sendbar .bilibili-player-video-inputbar .bilibili-player-video-inputbar-wrap {
    border: 1px solid #4a5a6a !important;
}
.van-popper-favorite .tabs-panel {
    border-right: 1px solid #5a6a7a !important;
}
.van-popper-favorite .play-all {
    border-top: 1px solid #5a6a7a !important;
}
.van-popper-upload .upload-item[data-v-0fdc0c18]:hover {
    background-color: #4a5a6a !important;
}
.vip-m .bubble-traditional .renew-btn button {
    color: #dddddd !important;
}
.popover-app-download .txt {
    color: #dddddd !important;
}
.bilibili-player {
    -webkit-box-shadow: 0 0 8px #e5e9ef00 !important;
    box-shadow: 0 0 8px #e5e9ef00 !important;
}
.emoji-box .emoji-tabs {
    background: #2a3a4a !important;
}
.recommend-list .rec-footer {
    background: #2a3a4a !important;
}
.pop-live .pl__card {
    border: 1px solid #4a5a6a !important;
}
#bilibili-player.mini-player .player {
    box-shadow: 0 2px 8px 0 #4a5a6a !important;
}
.user-card {
    background: #2a3a4a !important;
    border: 1px solid #4a5a6a !important;
}
.tag-info-pane {
    background: #3a4a5a !important;
}
.video-toolbar .ops .share .share-pos {
    color: #dddddd !important;
    background: #3a4a5a !important;
    border: 1px solid #4a5a6a !important;
    box-shadow:  0 2px 4px 0 #4a5a6a !important;
}
.video-desc .tip-info .argue i, .video-desc .tip-info .copyright i {
    color: #fd676f !important;
}
.more-ops-list {
    color: #dddddd !important;
    background: #3a4a5a !important;
    border: 1px solid #4a5a6a !important;
    box-shadow:  0 2px 4px 0 #4a5a6a !important;
}
.video-toolbar .more {
    color: #dddddd !important;
}
.bb-comment .comment-send .comment-emoji, .comment-bilibili-fold .comment-send .comment-emoji, .bb-comment .comment-send-lite .comment-emoji, .comment-bilibili-fold .comment-send-lite .comment-emoji {
    border: 1px solid #4a5a6a !important;
}
.tag-channel-pane {
    background: #2a3a4a !important;
    color: #dddddd !important;
}
.user-card .btn-box .message {
    background: #5a6a7a !important;
}
.user-card .btn-box a {
    color: #dddddd !important;
}
.bb-comment .comment-list .list-item .reply-box .view-more .btn-more:hover, .comment-bilibili-fold .comment-list .list-item .reply-box .view-more .btn-more:hover {
    background: #4a5a6a !important;
    color: #dddddd !important;
}
.video-page-card .card-box .pic-box {
    background: #5a6a7a !important;
}
.bb-comment .comment-list .list-item .info .btn-hover:hover, .comment-bilibili-fold .comment-list .list-item .info .btn-hover:hover {
    background: #4a5a6a !important;
    color: #dddddd !important;
}
.bb-comment .operation .opera-list, .comment-bilibili-fold .operation .opera-list {
    background: #4a5a6a !important;
    box-shadow: 0 0 5px #4a5a6a !important;
}
.bb-comment .comment-list .list-item .info .btn-hover:hover, .comment-bilibili-fold .comment-list .list-item .info .btn-hover:hover {
    background: #4a5a6a !important;
    color: #dddddd !important;
}
.user-card-m {
    background: #3a4a5a !important;
    border: 1px solid #4a5a6a !important;
    box-shadow:  0 2px 4px 0 #4a5a6a !important;
}
.van-popper-history .tab-header {
    border-bottom: 1px solid #4a5a6a !important;
}
.van-popover {
    color: #dddddd !important;
}
.van-popper-history .date-title {
    color: #dddddd !important;
}
.tag-channel-pane .channel-title {
    color: #dddddd !important;
}
.v-wrap .danmaku-wrap {
    background: #4a5a6a !important;
}
.video-page-operator-card .pic-box {
    background: #4a5a6a !important;
}
#webShare .bili-share-pc {
    background: #2a3a4a !important;
}
.bili-share-pc {
    border: 1px solid #4a5a6a !important;
}
.comment-container {
    background: #1a2a3a !important;
}
.bb-comment .comment-header .tabs-order li, .comment-bilibili-fold .comment-header .tabs-order li {
    color: #aaaaaa !important;
}
.emoji-box .emoji-tabs .tab-link.on {
    background: #3a4a5a !important;
}
.emoji-box .emoji-tabs .tab-link:hover {
    background: #4a5a6a !important;
}
p.text {
    color: #dddddd !important;
}
span.text-con {
    color: #dddddd !important;
}
.bb-comment .operation .opera-list, .comment-bilibili-fold .operation .opera-list {
    color: #dddddd !important;
    background: #3a4a5a !important;
}
.bb-comment .operation .opera-list li:hover, .comment-bilibili-fold .operation .opera-list li:hover {
    background: #4a5a6a !important;
    color: #00a1d6 !important;
}
span.default-text {
    color: #fff !important;
}
.bili-share-pc .title {
    color: #dddddd !important;
}
.bilibili-player-video-bottom-area:before {
    background: #3a4a5a !important;
}
.up-info .btn-panel .default-btn {
    background: #3a4a5a !important;
}
.up-info .u-face .fa {
    background: #3a4a5a !important;
}
.page-container {
    background: #1a2a3a !important;
}
.title-container .title {
    color: #dddddd !important;
}
.article-holder {
    color: #dddddd !important;

}
.up-info-holder .fixed-box .up-article-list-block * {
    color: #dddddd !important;

}
.up-info-holder .fixed-box .up-info-block .up-info-right-block .fans-num, .up-info-holder .fixed-box .up-info-block .up-info-right-block .view-num {
    color: #aaaaaa !important;
}
.up-info-holder .fixed-box .up-article-list-block .article-list .article-item * {
    color: #dddddd !important;
}
.nav-tab-bar .tab-item {
    color: #dddddd !important;
}
.article-action {
    color: #dddddd !important;
}
.up-info-holder .fixed-box .more .help .title, .up-info-holder .fixed-box .more .link .title {
    color: #dddddd !important;
}
.up-info-holder .fixed-box .up-article-list-block .more-article {
    background: #3a4a5a !important;
    color: #dddddd !important;
}
.right-side-bar {
    z-index: aaaaaa;
}
.title-container .info {
    color: #9b9b9b !important;
}
.up-info-holder .fixed-box .up-article-list-block .block-title {
    border-bottom: 1px solid #4a5a6a !important;
}
.up-info-holder .fixed-box .more .top-bar {
    border-bottom: 1px solid #4a5a6a !important;
}
img.loaded {
    border: 1px solid #4a5a6a !important;
    border-radius: 4px;
}
.emoji-box .emoji-title {
    color: #dddddd !important;
}
.unlogin-popover-avatar .title {
    color: #dddddd !important;
}
.unlogin-popover {
    background: #1a2a3a !important;
    box-shadow: 3px 6px 0 #4a5a6a !important;
}
.content .lt-text {
    color: #dddddd !important;
}
.unlogin-popover-avatar .register-tip {
    color: #dddddd !important;
}
.unlogin-popover-avatar .register-tip>a:hover {
    color: #00b5e5 !important;
}
.login-box .type-tab>span {
    color: #aaaaaa !important;
}
.qrcode-login .qrcode-footer .status-txt {
    color: #dddddd !important;
}
.qrcode-login .qrcode-footer .app-link, .qrcode-login .qrcode-footer .suc-txt {
    color: #aaaaaa !important;
}
.qrcode-login .qrcode-con .qrcode-box .status {
    border: 10px solid #fff !important;
    border-radius: 4px !important;
}
.qrcode-login .qrcode-con .qrcode-box .qrcode-img {
    border: 10px solid #fff !important;
    border-radius: 4px !important;
}
.login-box .type-tab>span.active {
    color: #02a7de !important;
}
.form-login .input-box .remember {
    color: #aaaaaa !important;
}
.top-banner img {
    height: 100% !important;
}
.title-line .tit {
    background: #00a1d600 !important;
}
.title-line {
    border-bottom: 1px solid #dddddd00 !important;
}
.qrcode-tips {
    display: none !important;
}
.login-tip {
    background: #3a4a5a !important;
    box-shadow: 0 3px 12px 0 #4a5a6a !important;
}
.login-tip .login-btn {
    color: #fff !important;
}
select {
    background: #3a4a5a !important;
    color: #dddddd !important;
}
.channel-menu-mini {
    background: #2a3a4a !important;
    color: #dddddd;
}
.channel-menu-mini .r-box {
    border-left: 1px solid #4a5a6a !important;
}
.live-rank .live-rank-item .txt p.p2 {
    color: #aaaaaa !important;
}
.live-rank .live-rank-item .number {
    color: #2a3a4a !important;
}
.manga-panel .manga-list-box .manga-card .manga-title {
    color: #dddddd !important;
}
.manga-panel .manga-list-box .manga-card .manga-tag {
    color: #aaaaaa !important;
}
.multi-page {
    background: #2a3a4a !important;
}
.multi-page .cur-list .list-box li.on {
    background: #4a5a6a !important;
}
.multi-page .head-con .head-left h3 {
    color: #dddddd !important;
}
.multi-page .cur-list .module-box li {
    background: #3a4a5a !important;
}
.multi-page .cur-list .module-box li.on {
    background: #03a0d6 !important;
}
.up-info .btn-panel .not-follow {
    background: #00a1d6 !important;
}
.player-auxiliary-adv-danmaku {
    border-bottom: 1px solid #4a5a6a !important;
}
.advanced-danmaku-group {
    border-bottom: 1px solid #4a5a6a !important;
}
.player-auxiliary-modal-header {
    border-bottom: 1px solid #4a5a6a !important;
}
.pic-box {
    background: #4a5a6a !important;
}
.video-toolbar .ops .share .share-pos .share-address .t {
    color: #dddddd !important;
}
input#link0 {
    color: #000 !important;
}
input#link2 {
    color: #000 !important;
}
.up-info .btn-panel .following-charge-btn {
    background: #fb7299 !important;
    color: #fff !important;
}
.up-info .btn-panel .following-charge-btn:hover {
    background: #ff85ad !important;
}
.van-popper-avatar .level-intro {
    background: #3a4a5a !important;
}
.van-popper-avatar .coins .contact .email-icon {
    color: #C0C0C0 !important;
}
.van-popper-avatar .coins .contact .email-icon--bind, .van-popper-avatar .coins .contact .phone-icon--bind {
    color: #00A1D6 !important;
}
.van-popper-avatar .coins .contact .phone-icon {
    color: #C0C0C0 !important;
}
.van-popper-avatar .coins .contact .email-icon--bind, .van-popper-avatar .coins .contact .phone-icon--bind {
    color: #00A1D6 !important;
}
.van-popper-avatar .coins .contact .contact-tips {
    background: #4a5a6a !important;
    border: 1px solid #4a5a6a !important;
}
.video-item.matrix {
    border: 1px solid #4a5a6a !important;
}
#pgc-navigate-wrap .ep-box .ep-sub .ep-item {
    border: 1px solid #4a5a6a !important;
    color: #aaaaaa !important;
}
#pgc-navigate-wrap .ep-box .ep-sub .ep-item:hover {
    background-color: #00a1d6 !important;
    color: #fff !important;
}
.filter-wrap {
    position: initial !important;
}
.page-wrap .pager {
    background: #1a2a3a !important;
}
.pager .pages .page-item button {
    background: #3a4a5a !important;
    color: #dddddd !important;
    border: 1px solid #4a5a6a !important;
}
.pager .pages .page-item.active button, .pager .pages .page-item button:hover {
    background: #00a1d6 !important;
    color: #fff !important;
    border: 1px solid #00a1d6 !important;
}
.search-wrap .fixed-top {
    background: #0a1a2ae0 !important;
}
.search-wrap .fixed-top .search-block .input-wrap {
    background: #2a3a4a !important;
}
.search-wrap .search-block .input-wrap {
    background: #2a3a4a !important;
}
.search-wrap .fixed-top .search-block .input-wrap input {
    border: 1px solid #4a5a6a !important;
}
.search-wrap .search-block .input-wrap input {
    border: 1px solid #4a5a6a !important;
    color: #dddddd !important;
}
.suggest-wrap {
    border: 1px solid #4a5a6a !important;
    color: #dddddd !important;
    background: #2a3a4a !important;
}
.suggest-wrap .vt-text:hover {
    background: #4a5a6a !important;
}
.filter-wrap .filter-wrap_bottom {
    background: #4a5a6a !important;
}
.filter-wrap .fold:hover {
    background: #3a4a5a !important;
    color: #dddddd !important;
}
.video-item.list {
    border: 1px solid #4a5a6a !important;
}
#all-list .mixin-list ul:not(:last-child) {
    border: 1px solid #4a5a6a00 !important;
}
.float-nav .nav-menu .item {
    color: #2a3a4a !important;
}
.float-nav .nav-menu .item:hover {
    color: #fff !important;
}